p{
  color:#00ff00;
}
div{
  padding: 10px;
  margin-top: 20px;
}
a:link {
    color: #100000;
    text-decoration: none;
}
a:hover {
    color: #50f40e;
}
a:visited {
    color: #393092;
}
body{
padding:0px;
margin:0px;
}
